{% extends 'base.html' %}
{% block content %}
  <h2>Warden Register</h2>
  <form method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <label>Name<br><input name="name" required></label>
    <label>Email<br><input name="email" type="email" required></label>
    <label>Password<br><input name="password" type="password" required></label>
    <label>College Key (provided by admin)<br><input name="college_key" required></label>
    <button type="submit">Register</button>
  </form>
{% endblock %}